
BasedOnStyle: LLVM

ColumnLimit: 100
LineEnding: LF

PointerAlignment: Left
AlignTrailingComments: Never
AlignArrayOfStructures: Left
AlignEscapedNewlines: DontAlign

IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation

